*{
	margin: 0px;
	padding: 0px;
	font-family: Courier New;
	box-sizing: border-box;
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	flex: 0 1 auto;
	
}

body{
	background: url('backimg.jpg') center center no-repeat fixed; 
 	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

header{
	width: auto;
	text-align: left 10px;
	color: white;
	font-size: 30px;
	text-shadow: 5px 5px 5px #000000;
	padding: 20px;
	margin: 10px;
	border-radius: 10px;
	background-image: -moz-linear-gradient(#212F3C, #000000);
	background-image: -webkit-linear-gradient(#000000, #212F3C);
}

footer{
	clear: both;
	background-color: #212F3C;
	height: auto;
	padding: 10px;
	text-align: center;
	color: white;
	font-size: 20px;
	border-radius: 10px;
	margin: 10px;

}

center{
	text-shadow: 1px 1px grey;
}

/*divs */
#container{
	display: grid;
}
#div_esq{
	background-color: rgba(0, 0, 0, 0.7);
	min-height: 650px;
	width: 760px;
	border-radius: 10px;
	float: left;
	margin: 10px;
	margin-bottom: 20px;
}

#div_dir{
	background-color: rgba(24, 33, 41 , 0.9);
	min-height: 500px;
	width: auto;
	border-radius: 10px;
	margin: 10px;
	float: right;
	padding: 90px;
	color: white;
	margin-bottom: 20px;
}

/* Div Esquerda*/

#header{
	text-align: center;
	text-decoration-style: solid;
	animation-duration: 3s;
	animation-name: slidein;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#numbers{
	background-color: white;
	margin: 20px;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	font-family: 'Roboto', sans-serif; font-size: 12pt;
    font-weight: 300px;
	margin-left: 200px;
	margin-right: 200px;
    text-align: center;
    padding: 10px;
	border-radius: 10px;
	background-color: #BDC3C7,#BDC3C7;
	background-image: -moz-linear-gradient#BDC3C7, #F2F3F4 ;
	background-image: -webkit-linear-gradient(#BDC3C7, #F2F3F4 );
}

/* Div Direita */

#textodivdir{
	margin-top: 20px;
	position: absolute;
	margin-right: 100px;
	align-items: center;
	text-align: center;

	justify-content: center;
}

#contatotext{
	margin-top: 320px;
	text-align: center;
	font-size: medium;
	justify-content: center;
}

#textodivdir2{
	text-align: center;
	position:absolute;
	width: 330px;
	top: 70%;
}

/* Bingo */

#para{
    font-family: 'Roboto', sans-serif; font-size: 12pt;
    font-weight: 300px;
	margin-left: 200px;
	margin-right: 200px;
    text-align: center;
    padding: 10px;
	color: white;
	border-radius: 10px;
	background-color: #BDC3C7,#BDC3C7;
	background-image: -moz-linear-gradient#BDC3C7, #F2F3F4 ;
	background-image: -webkit-linear-gradient(#BDC3C7, #F2F3F4 );
  }
  
p a{
    text-decoration: none;
    color: black;
    text-align: center;
}

#bingotable{
    margin: 0 auto;
    text-align: center;
    width: 300px;
    height: 300px;
    border-collapse: collapse;
    background: white;
}
  
th, td {
    font-family: Helvetica;
    margin: 0 auto;
    text-align: center;
    border: 3px solid black;
    width: 20%;
}
  
.orange{
	background:#A4B0B9;
	color: black;
}

#sort{
    font-family: 'Roboto', sans-serif; font-size: 12pt;
    font-weight: 350px;
	margin-left: 280px;
	margin-right: 280px;
    text-align: center;
    padding: 10px;
	color: black;
	border-radius: 10px;
	background-color: #BDC3C7,#BDC3C7;
	background-image: -moz-linear-gradient#BDC3C7, #F2F3F4 ;
	background-image: -webkit-linear-gradient(#BDC3C7, #F2F3F4 );
}

#sort a:hover{
	font-family: 'Roboto', sans-serif; font-size: 12pt;
    font-weight: 300px;
    text-align: center;
	padding: 10px;
	color: white;
	border-radius: 10px;
	background-color: #BDC3C7,#BDC3C7;
	background-image: -moz-linear-gradient#BDC3C7, #F2F3F4 ;
	background-image: -webkit-linear-gradient(#BDC3C7, #F2F3F4 );
}

#para a:hover{
	font-family: 'Roboto', sans-serif; font-size: 12pt;
    font-weight: 300px;
    text-align: center;
	padding: 10px;
	color: black;
	border-radius: 10px;
	background-color: #BDC3C7,#BDC3C7;
	background-image: -moz-linear-gradient#BDC3C7, #F2F3F4 ;
	background-image: -webkit-linear-gradient(#BDC3C7, #F2F3F4 );
}
